*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background: #fff;
    font-family: 'lato';
    font-size: 16px;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin:auto;
}
header{
    background-image: url("../img/portada.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: cover;
}
header .menu{
    margin: 30px 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
header .menu a:hover{
    text-decoration: overline;
}
header .menu a{
    font-size: 18px;
    font-family: 'lato';
    font-weight: 1000;
    display: inline-block;
    padding: 10px 0;
    margin:0 15px;
    color:black;
    text-decoration: none;
}
header .contenido-header{
    margin: 120px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
header .contenido-header .titulo-header{
    font-size: 120px;
    text-align: center;
    color: black;
}
header .contenido-header .linea-header{
    width: 700px;
    margin: auto;
    height: 2px;
    background: #15a4fa;
    margin-bottom:30px;
    text-align: center;
}
header .contenido-header .texto-header{
    color: black;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
}
header .contenido-header .action-header{
    display: inline-block;
    margin: auto;
    color: black;
    text-decoration: none;
    border: 1px solid #15a4fa;
    padding: 10px 20px;
    border-radius:5px;
}
header .contenido-header .action-header:hover{
    background: #15a4fa;
    color:#fff;
}
main .quienes{
    background: #f0f3f5;
    padding: 60px 0;
}
main .quienes .quienes-titulo{
    color: #000;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
main .quienes .quienes-parrafo{
    text-align: center;
    color: #999999;
    font-weight: 600;
}
main .quehacemos{
    margin: 60px 0;
}
main .contenido-cajas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main .quehacemos .contenido-cajas .tarjeta{
    width: 30%;
    text-align: center;
}
main .quehacemos .contenido-cajas .tarjeta .contenido-tarjeta .titulo-tarjeta{
    margin:0;
}
main .portafolio{
    background: #f0f3f5;
    padding: 60px 0;
}
main .portafolio .portafolio-textos{
    text-align: center;
    margin-bottom: 60px;
    color: #2d3950;
    font-size: 20px;
}
main .portafolio .portafolio-textos p{
    color: #909090;
    font-size: 15px;
    margin: 20px 0 0 0;
}
main .portafolio .galeria{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main .portafolio .galeria .fotos{
    width: 30%;
    margin-bottom: 20px;
}
main .portafolio .galeria .fotos img{
    width: 100%;
    height: 210px;
    border-radius: 5px;
}
main .portafolio .galeria .fotos img:hover{
    opacity: .6;
    cursor: pointer;
}
.carousel-inner img {
    width: 100%;
    height: 400px; 
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}
/*footer personalizado*/
.pie-pagina{
    width: 100%;
    background: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);/*que alguien me explique*/
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box .mb-3{
    width: 100%;
    height: 30%;
    color: white;
}
.pie-pagina .grupo-1 .box .mb-3 input{
    width: 80%;
    max-width: 400px;
    min-height: 30px;
    height: auto;
    border-radius: 10px;
}
.pie-pagina .grupo-1 .box .mb-3 textarea{
    width: 80%;
    max-width: 400px;
    min-height: 70px;
    height: auto;
    border-radius: 10px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 5px;
    font-size: 15px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color:aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
@media screen and (max-width: 760px){
    header .menu {
        justify-content: center;
    }
    header .contenido-header .texto-header{
        font-size: 18px;
    }
    header .contenido-header .texto-header .desaparecer{
        display: none;
    }
}
@media screen and (max-width: 630px){
    header .contenido-header .titulo-header{
        font-size: 80px;
    }
    header .contenido-header .linea-header{
        width: 400px;
    }
    main .portafolio .galeria .fotos{
        width: 49%;
    }
}
@media screen and (max-width: 500px){
    header .contenido-header .titulo-header{
        font-size: 40px;
    }
    main .quehacemos .contenido-cajas .tarjeta{
        width: 48%;
    }
    main .contenido-cajas{
        justify-content: center;
    }
    main .quehacemos .contenido-cajas .tarjeta{
        margin: 20px 0;
    }
}
@media screen and (max-width:350px) {
    main .quehacemos .contenido-cajas .tarjeta{
        width: 98%;
    }
    header .contenido-header .texto-header{
        font-size: 15px;
    }
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
} 
